<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<h1>Open Close Brevet Times</h1>

{% for item in items %}
  <p>kilometers: {{item.km}}    open: {{ item.open }}   close: {{ item.close }}<br> </p>
{% endfor %}


<body>If empty, go back and submit a non-empty form. Empty forms are not valid entries.</body>